body{

    background-color: #2D8CFF;
    color: white;
}


.titulo{

    text-align:center;
    background-color:black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta{

    position: relative;
    width: 150px;
    margin-left: -95px;
    left: 100px;

}